<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="nick" value="FBot"/>
    <add key="server" value="example.com"/>
    <add key="port" value="6667"/>
  </appSettings>
</configuration>